absl-py==0.9.0
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828452693/work
attrs @ file:///tmp/build/80754af9/attrs_1598374659300/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
beautifulsoup4==4.9.1
bleach==3.1.5
blinker==1.4
bokeh @ file:///tmp/build/80754af9/bokeh_1598903502831/work
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1593420445823/work
Cartopy @ file:///home/conda/feedstock_root/build_artifacts/cartopy_1589818690810/work
certifi==2020.6.20
cffi==1.14.0
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1594010281609/work
chardet==3.0.4
click==7.1.2
conda==4.8.3
conda-build==3.18.11
conda-package-handling==1.7.0
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
deprecation @ file:///home/conda/feedstock_root/build_artifacts/deprecation_1589881437857/work
entrypoints==0.3
filelock==3.0.12
GDAL==3.1.1
glob2==0.7
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1595253043732/work
google-auth-oauthlib==0.4.1
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1594576798247/work
h5netcdf @ file:///home/conda/feedstock_root/build_artifacts/h5netcdf_1595040520920/work
h5py @ file:///tmp/build/80754af9/h5py_1593454119955/work
holoviews==1.13.3
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1593211369179/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1593235460530/work
ipython-genutils==0.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1595018882455/work
Jinja2==2.11.2
jsonschema @ file:///tmp/build/80754af9/jsonschema_1594363551272/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-core==4.6.3
kiwisolver==1.2.0
libarchive-c==2.9
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1589366472132/work
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1594371495811/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-base_1592576108701/work
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
nbconvert @ file:///tmp/build/80754af9/nbconvert_1594376811065/work
nbformat==5.0.7
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/netcdf4_1588329193282/work
notebook @ file:///tmp/build/80754af9/notebook_1596838645154/work
numpy==1.18.5
oauthlib==3.0.1
olefile==0.46
OWSLib @ file:///home/conda/feedstock_root/build_artifacts/owslib_1591376955812/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///tmp/build/80754af9/pandas_1592841632039/work
pandocfilters==1.4.2
panel==0.9.7
param==1.9.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1594213010297/work
pkginfo==1.5.0.1
prometheus-client==0.8.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1592500439797/work
protobuf==3.12.3
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycosat==0.6.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyct==0.4.8
pyepsg==0.4.0
Pygments==2.6.1
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1588596070165/work
pyrsistent==0.16.0
pyshp==2.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pyviz-comms==0.7.6
PyYAML==5.3.1
pyzmq==19.0.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1591996208734/work
ruamel-yaml==0.15.87
scipy @ file:///tmp/build/80754af9/scipy_1592930510235/work
semver @ file:///home/conda/feedstock_root/build_artifacts/semver_1592290247243/work
Send2Trash==1.5.0
Shapely==1.7.0
six==1.15.0
soupsieve==2.0.1
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1595378845776/work/tensorboard-2.3.0-py3-none-any.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1592816951245/work/tensorboard_plugin_wit-1.6.0.post3-py3-none-any.whl
terminado==0.8.3
testpath==0.4.4
torch==1.5.1
torchvision==0.6.0a0+35d732a
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1594937875116/work
traitlets==4.3.3
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
urllib3==1.25.9
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1592931742287/work
webencodings==0.5.1
Werkzeug==1.0.1
wradlib @ file:///home/conda/feedstock_root/build_artifacts/wradlib_1594386525437/work
xarray==0.15.1
xmltodict==0.12.0
zipp==3.1.0
